In [122]:
import pandas as pd

In [123]:
rock_samples = pd.read_csv("data/rocksamples.csv")

In [124]:
rock_samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2229 non-null   int64
 1   Mission       2229 non-null   object
 2   Type          2229 non-null   object
 3   Subtype       2226 non-null   object
 4   Weight (g)    2229 non-null   float64
 5   Pristine (%)  2229 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 104.6+ KB

In [125]:
rock_samples.describe()

                 ID    Weight (g)  Pristine (%)
count   2229.000000   2229.000000   2229.000000
mean   52058.432032    168.253024     84.512764
std    26207.651471    637.286458     22.057299
min    10001.000000      0.000000      0.000000
25%    15437.000000      3.000000     80.010000
50%    65527.000000     10.200000     92.300000
75%    72142.000000     93.490000     98.140000
max    79537.000000  11729.000000    180.000000

In [126]:
rock_samples.head()

      ID   Mission    Type   Subtype  Weight (g)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved       125.8         88.36
1  10002  Apollo11    Soil  Unsieved      5629.0         93.73
2  10003  Apollo11  Basalt  Ilmenite       213.0         65.56
3  10004  Apollo11    Core  Unsieved        44.8         71.76
4  10005  Apollo11    Core  Unsieved        53.4         40.31

In [127]:
rock_samples.sample(9) #랜덤으로 샘플 뽑아줌

         ID   Mission     Type     Subtype  Weight (g)  Pristine (%)
1443  68841  Apollo16     Soil        <1mm      266.60         93.27
1571  71048  Apollo17   Basalt    Ilmenite        2.46         73.55
565   15470  Apollo15     Soil    Unsieved       82.20         97.82
1586  71085  Apollo17   Basalt    Ilmenite        3.40         87.60
1933  76036  Apollo17  Breccia  ImpactMelt        3.95        100.00
129   12070  Apollo12     Soil    Unsieved     1102.00         80.24
725   60051  Apollo16     Soil        <1mm      195.30         89.25
210   14175  Apollo14  Breccia  Fragmental        7.48         92.91
125   12062  Apollo12   Basalt    Ilmenite      738.70         97.52

In [128]:
rock_samples.shape

(2229, 6)

In [129]:
rock_samples.columns

Index(['ID', 'Mission', 'Type', 'Subtype', 'Weight (g)', 'Pristine (%)'], dtype='object')

In [130]:
rock_samples.dtypes

ID                int64
Mission          object
Type             object
Subtype          object
Weight (g)      float64
Pristine (%)    float64
dtype: object

In [131]:
rock_samples.isnull().sum()

ID              0
Mission         0
Type            0
Subtype         3
Weight (g)      0
Pristine (%)    0
dtype: int64

In [132]:
rock_samples[rock_samples['Subtype'].isnull()]

         ID   Mission     Type Subtype  Weight (g)  Pristine (%)
89    12023  Apollo12  Special     NaN      407.90         66.89
355   15014  Apollo15  Special     NaN      333.20        100.00
1513  70149  Apollo17   Basalt     NaN        0.95          0.00

In [133]:
rock_samples['Type'].unique()

array(['Soil', 'Basalt', 'Core', 'Breccia', 'Special', 'Crustal'],
      dtype=object)

In [134]:
rock_samples['Subtype'].unique()

array(['Unsieved', 'Ilmenite', 'Regolith', 'Cristobalite', 'Olivine',
       'Pigeonite', 'Fragmental', nan, 'Feldspathic', 'Unclassified',
       '2-4mm', '1-2mm', '<1mm', '4-10mm', '>10mm', 'ImpactMelt', 'KREEP',
       'Glass', 'Agglomerate', 'Unstudied', 'Cataclastic', 'Clod',
       'Anorthosite', 'unsieved', 'Plagioclase', 'fragmental',
       'unstudied', 'notstudied', 'Cataclasite', 'Troctolite', 'Norite',
       'Pristine'], dtype=object)

In [135]:
rock_samples['Subtype'].value_counts()

Subtype
ImpactMelt      393
Unsieved        271
Regolith        248
Fragmental      208
Ilmenite        184
<1mm            147
1-2mm           145
4-10mm          145
2-4mm           145
Olivine         115
Anorthosite      41
Pigeonite        37
Unclassified     24
fragmental       21
unsieved         17
Clod             17
Cataclasite      16
Agglomerate      10
unstudied        10
Feldspathic       8
Glass             7
Norite            4
KREEP             3
Cataclastic       3
Cristobalite      1
>10mm             1
Unstudied         1
notstudied        1
Plagioclase       1
Troctolite        1
Pristine          1
Name: count, dtype: int64

### type, subtype로 분류해보기
- size()는 보기 편하게 해줌

In [136]:
rock_samples.groupby(['Type', 'Subtype']).size()

Type     Subtype
Basalt   Cristobalite      1
         Feldspathic       7
         Ilmenite        184
         KREEP             3
         Olivine         115
         Pigeonite        37
         Plagioclase       1
         Unclassified      2
Breccia  Agglomerate      10
         Anorthosite      21
         Clod             17
         Feldspathic       1
         Fragmental      207
         Glass             7
         ImpactMelt      393
         Regolith        248
         Unclassified     22
         Unstudied         1
         fragmental       21
         notstudied        1
         unstudied        10
Core     Unsieved         41
         unsieved         15
Crustal  Anorthosite      20
         Cataclasite      16
         Cataclastic       3
         Fragmental        1
         Norite            4
         Pristine          1
         Troctolite        1
Soil     1-2mm           145
         2-4mm           145
         4-10mm          145
         <1mm            147
         >10mm             1
         Unsieved        230
Special  unsieved          2
dtype: int64

In [137]:
rock_samples['Weight (kg)'] = rock_samples['Weight (g)'] /1000
#rock_samples['Weight (g)'] = rock_samples['Weight (g)'].apply(lambda x: x * 0.001)
#rock.samples['Weight (g)'].rename(columns={'Weight (g)':'Weight (kg)'})

#### rock_samples.columns=[기존 df와 길이가 일치하는 열 이름 리스트 만들어서 넣기]

In [139]:
rock_samples

,ID,Mission,Type,Subtype,Weight (g),Pristine (%),Weight (kg)
0,10001,Apollo11,Soil,Unsieved,125.80,88.36,0.12580
1,10002,Apollo11,Soil,Unsieved,5629.00,93.73,5.62900
2,10003,Apollo11,Basalt,Ilmenite,213.00,65.56,0.21300
3,10004,Apollo11,Core,Unsieved,44.80,71.76,0.04480
4,10005,Apollo11,Core,Unsieved,53.40,40.31,0.05340
...,...,...,...,...,...,...,...
2224,79528,Apollo17,Breccia,Regolith,2.38,100.00,0.00238
2225,79529,Apollo17,Breccia,Regolith,1.84,100.00,0.00184
2226,79535,Apollo17,Breccia,Regolith,1.69,100.00,0.00169
2227,79536,Apollo17,Breccia,Regolith,1.66,100.00,0.00166
2228,79537,Apollo17,Breccia,Regolith,1.05,100.00,0.00105

In [140]:
rock_samples.drop(columns='Weight (g)')

         ID   Mission     Type   Subtype  Pristine (%)  Weight (kg)
0     10001  Apollo11     Soil  Unsieved         88.36      0.12580
1     10002  Apollo11     Soil  Unsieved         93.73      5.62900
2     10003  Apollo11   Basalt  Ilmenite         65.56      0.21300
3     10004  Apollo11     Core  Unsieved         71.76      0.04480
4     10005  Apollo11     Core  Unsieved         40.31      0.05340
...     ...       ...      ...       ...           ...          ...
2224  79528  Apollo17  Breccia  Regolith        100.00      0.00238
2225  79529  Apollo17  Breccia  Regolith        100.00      0.00184
2226  79535  Apollo17  Breccia  Regolith        100.00      0.00169
2227  79536  Apollo17  Breccia  Regolith        100.00      0.00166
2228  79537  Apollo17  Breccia  Regolith        100.00      0.00105

[2229 rows x 6 columns]

In [141]:
mission= pd.DataFrame()

In [142]:
mission["Mission"]=rock_samples["Mission"].unique()

In [143]:
mission

    Mission
0  Apollo11
1  Apollo12
2  Apollo14
3  Apollo15
4  Apollo16
5  Apollo17

## 아폴로 임무별 샘플 중량 총합

In [144]:
a=rock_samples.groupby('Mission')['Weight (kg)'].sum()

In [145]:
type(a)

pandas.core.series.Series

In [146]:
a.values

array([ 21.55424,  34.34238,  41.83363,  75.3991 ,  92.46262, 109.44402])

In [147]:
mission['Weight (kg)'] = a.values

In [148]:
mission=mission.drop(columns='total_Weight(kg)')

KeyError: "['total_Weight(kg)'] not found in axis"

In [149]:
mission=mission.rename(columns={'Weight (kg)':'Sample_Weight (kg)'})

### 임무간 중량 차이 구하기

In [150]:
mission['Weight_diff']=mission['Sample_Weight (kg)'].diff()

In [151]:
misson=mission['Weight_diff'].fillna(value=0, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_4336\4150101196.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  misson=mission['Weight_diff'].fillna(value=0, inplace=True)

In [152]:
mission

    Mission  Sample_Weight (kg)  Weight_diff
0  Apollo11            21.55424      0.00000
1  Apollo12            34.34238     12.78814
2  Apollo14            41.83363      7.49125
3  Apollo15            75.39910     33.56547
4  Apollo16            92.46262     17.06352
5  Apollo17           109.44402     16.98140

### 달 모듈의 이름, 중량 컬럼을 mission에 추가
- 달 모듈과 명령 모듈이 있고 이 두가지를 일컫어 승무원 어쩌구라고 한다.

In [153]:
달모듈이름 = ['Eagle (LM-5)', 'Intrepid (LM-6)', 'Antares (LM-8)', 'Falcon (LM-10)', 'Orion (LM-11)', 'Challenger (LM-12)']
달모듈중량 = [15103, 15235, 15264, 16430, 16445, 16456]

In [154]:
mission['Lunar module (LM)'] = 달모듈이름
mission['LM mass (kg)'] = 달모듈중량
mission

    Mission  Sample_Weight (kg)  Weight_diff   Lunar module (LM)  LM mass (kg)
0  Apollo11            21.55424      0.00000        Eagle (LM-5)         15103
1  Apollo12            34.34238     12.78814     Intrepid (LM-6)         15235
2  Apollo14            41.83363      7.49125      Antares (LM-8)         15264
3  Apollo15            75.39910     33.56547      Falcon (LM-10)         16430
4  Apollo16            92.46262     17.06352       Orion (LM-11)         16445
5  Apollo17           109.44402     16.98140  Challenger (LM-12)         16456

In [164]:
mission['LM mass diff']=mission['LM mass (kg)'].diff()

In [166]:
mission['LM mass diff'].fillna(value=0, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_4336\1992362754.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mission['LM mass diff'].fillna(value=0, inplace=True)

In [167]:
mission

,Mission,Sample_Weight (kg),Weight_diff,Lunar module (LM),LM mass (kg),LM mass diff
0,Apollo11,21.55424,0.00000,Eagle (LM-5),15103,0.0
1,Apollo12,34.34238,12.78814,Intrepid (LM-6),15235,132.0
2,Apollo14,41.83363,7.49125,Antares (LM-8),15264,29.0
3,Apollo15,75.39910,33.56547,Falcon (LM-10),16430,1166.0
4,Apollo16,92.46262,17.06352,Orion (LM-11),16445,15.0
5,Apollo17,109.44402,16.98140,Challenger (LM-12),16456,11.0

In [180]:
명령모듈이름 = ['Columbia (CSM-107]', 'Yankee Clipper (CM-100])', 'Kitty Hawk (CM-110)', 'Endeavor (CM-112)', 'Casper (CM-113)', 'America (CM-114)']
명령모듈중량 = [5560, 5609, 5758, 5875, 5840, 5960]

In [181]:
mission['Command Module (CM)'] = 명령모듈이름
mission['CM Mass (kg)'] = 명령모듈중량

In [182]:
mission['CM Mass diff']=mission['CM Mass (kg)'].diff()

In [184]:
mission['CM Mass diff'].fillna(value = 0, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_4336\2128624598.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mission['CM Mass diff'].fillna(value = 0, inplace=True)

In [ ]:
mission['Total weight (kg)']=mission['LM mass (kg)']+mission['CM Mass (kg)']

In [192]:
mission['Total weight diff']= mission['Total weight (kg)'].diff()
mission['Total weight diff'].fillna(value=0, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_4336\3435717993.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mission['Total weight diff'].fillna(value=0, inplace=True)