## 2025-09-22

In [ ]:
#가장 아래칸의 * 개수 입력

n= int(input())

for i in range(1, n+1, 2):
    spaces = (n - i)//2
    print(' ' * spaces + '*' * i)

       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************

In [ ]:
n = 40
m = 10

for i in range(1, m + 1):
    star = min(n, 2 * i - 1)

    print(' ' * (m - i) + "*" * star)
    n-=star

    if n <= 0:
        break

         *
        ***
       *****
      *******
     *********
    ***********
   ****

In [ ]:
n = 40
m = 10

for i in range(1, m + 1):
    if n > 2*i-1:
        print(' ' * (m - i) + "*" * (2*i-1))
    else:
        print(' ' * (m - i) + "*" * n)
        break
        
    n-= 2*i-1

         *
        ***
       *****
      *******
     *********
    ***********
   ****

In [ ]:
extend()  함수
.pop()    매서드
.remove() 매서드
.append() 매서드   ?

In [ ]:
f=['hi','hi',"mans"]

In [ ]:
f.remove('hi')

In [ ]:
f

['hi']

In [ ]:
print(reversed(f))

<list_reverseiterator object at 0x0000015F63F01A20>

In [ ]:
f

['hi', 'hi', 'mans']

In [ ]:
f.reverse()

In [ ]:
f

['mans', 'hi', 'hi']

In [ ]:
score = [90, 25, 62, 45, 80]

for i in range(len(score)):
    if score[i] >= 60:
        print(f"{i+1}번 학생은 합격입니다.")
    else:
        print(f"{i+1}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
var = "가나다"

while True:
    print("단어를 입력해주세요:")
    a = input()
    print(a)

    if a[0] == var[-1]:
        var = a

    else:
        print("땡")
        break

단어를 입력해주세요:
다람쥐
단어를 입력해주세요:
쥐포
단어를 입력해주세요:
포기
단어를 입력해주세요:
귀찮아
땡

In [ ]:
numbers = [1,1,3,3,0,1,1]
a = []

for num in numbers:
    if not a or a[-1] != num: 
        a.append(num)

a

[1, 3, 0, 1]

## 12번 문제

In [ ]:
f = ['사과', '바나나', '오렌지', '포도', '수박'] 
c = [1, 1, 1, 1, 1] 

while sum(c) != 0:
    print("현재 재고:", c)
    a= input("어떤 과일을 구매하시겠습니까? (종료하려면 '그만'을 입력하세요):")

    c[f.index(a)] -= 1

    print(f"{a}를 구매하셨습니다. 남은 {a}의 재고: {c[f.index(a)]}")

print("\n모든 과일이 팔렸습니다. 장사를 종료합니다.")

현재 재고: [1, 1, 1, 1, 1]
사과를 구매하셨습니다. 남은 사과의 재고: 0
현재 재고: [0, 1, 1, 1, 1]
바나나를 구매하셨습니다. 남은 바나나의 재고: 0
현재 재고: [0, 0, 1, 1, 1]
오렌지를 구매하셨습니다. 남은 오렌지의 재고: 0
현재 재고: [0, 0, 0, 1, 1]
포도를 구매하셨습니다. 남은 포도의 재고: 0
현재 재고: [0, 0, 0, 0, 1]
수박를 구매하셨습니다. 남은 수박의 재고: 0

모든 과일이 팔렸습니다. 장사를 종료합니다.

## 12-2번 문제

In [6]:
a = {'a':1, 'b': 2, 3:'c'}

a.get(2, '값 없음')

'값 없음'

In [7]:
a.pop('a')

1

In [11]:
2 in a.values()

True

In [14]:
for i, j in a.items():
    print(i, j)

b 2
3 c

## 13-2번 문제

In [15]:
morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' }

In [ ]:
a = ".... . .-.. .-.. ---" 
b=''
 
for i in a.split():
    print(morse[i], end='')

hello

In [34]:
swapped_dict = dict(zip(morse.values(), morse.keys()))

swapped_dict

{'a': '.-',
 'b': '-...',
 'c': '-.-.',
 'd': '-..',
 'e': '.',
 'f': '..-.',
 'g': '--.',
 'h': '....',
 'i': '..',
 'j': '.---',
 'k': '-.-',
 'l': '.-..',
 'm': '--',
 'n': '-.',
 'o': '---',
 'p': '.--.',
 'q': '--.-',
 'r': '.-.',
 's': '...',
 't': '-',
 'u': '..-',
 'v': '...-',
 'w': '.--',
 'x': '-..-',
 'y': '-.--',
 'z': '--..'}

In [45]:
s= {1,2,3,4,5}

In [46]:
s.remove(3)

In [47]:
s

{1, 2, 4, 5}

In [48]:
l = [1,2,6,8,3,34,5,6,7,4,5,6,4,5]

In [59]:
a = {1,2,3,4}
b = {3,4,5,6}

print(a|b,
a&b,
a-b)

{1, 2, 3, 4, 5, 6} {3, 4} {1, 2}

In [52]:
a&b

{3, 4}

In [65]:
# 빼빼로데이

# 빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
# 이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.
# 구매한 빼빼로를 오름차순으로 정렬하여 결과를 나타내 주세요.

# 입력1
a = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

# 출력1
# ['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [79]:
print(sorted(set(a)))

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [ ]:
b=[]
for i in a:
    if not a or i not in b:
        b.append(i)

b

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [101]:
a="culture experience symbol symbol education symbol effect education affair liberty liberty affair"

print(len(sorted(set(a.split()))))

7

In [122]:
def num_max(a,b,c):
    maxin = a
    if b>maxin:
        maxin=b
    if c>maxin:
        maxin=c
    
    return maxin

num = num_max(10, 12, 7)
num

12

In [ ]:
def num_min(a):
    m = a[0]
    for i in a:
        if i < m:
            m = i
    return m

    # return sorted(a)[0]

testArray = [52, 273, 32, 103, 275, 24, 57]
num_min(testArray)

24

In [132]:
def ily(a):
    if a % 4 ==0:
        return True
    else:
        return False

num = ily(2010)
num

False

In [133]:
def aa(a):
    print(a)

n=aa("ehloefj", "ejdf")
n

TypeError: aa() takes 1 positional argument but 2 were given

In [138]:
print('eh','fej',sep=' //')

eh //fej

In [140]:
def kamy (c, *a):
    print(c, a)

kamy('dumy',1,2,3,'dum',4,5,6,7)

dumy (1, 2, 3, 'dum', 4, 5, 6, 7)