# 2025-09-19

In [1]:
print("hello ms")

hello ms

In [2]:
print("안녕 이제 파이썬을 시작하려고 해")

안녕 이제 파이썬을 시작하려고 해

In [9]:
0.1+1

1.1

In [17]:
num1, num2=int(input()), int(input())
print(num1+num2, num1-num2, num1*num2, int(num1/num2))

15 9 36 4

In [18]:
int(3.6)

3

In [22]:
if False == 1:
    print("correct")
else: 
    print("wrong")

wrong

In [23]:
print((3>5) and (3>0))

False

In [25]:
print(not(5>9))

True

In [27]:
print('너"바보"야?')

너"바보"야?

In [39]:
print("'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.")

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

In [40]:
print(1)
print(2)

1
2

In [42]:
print(1, end='')
print(2)

12

In [ ]:
김밥 = 3000
떡볶이 = 3500
라면 = 2500

김, 떡, 라=map(int, input().split())

print("지불하실 금액은", 라면*라+떡볶이*떡+김밥*김, '원 입니다.')

지불하실 금액은 17500 원 입니다.

In [ ]:
i=35.23415
print(f"안녕 {i}야")

안녕 35야

In [53]:
print("안녕 %.2f" %i)

안녕 35.00

In [57]:
i = 3.14159
print(f"안녕 {i+1:.2f}")

안녕 4.14

In [63]:
a = 1
for i in range(1, 11):
    a*=i

print(a)

3628800

In [67]:
a = int(input())

for i in range(1, 10):
    print(f"{a} * {i} = {a*i}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [76]:
i = int(input())
a = 1
b = 0
while a <= i:
    b+=a
    a+=1
print(i, b)

15 120

In [75]:
a = int(input())
i = 1
while i <= 9:
    print(f"{a} * {i} = {a*i}")
    i+=1

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [82]:
sum = 1
i=1
while sum<20:
    i+=1
    sum+=i

print(i, sum)

6 21

In [80]:
sum = 0
i = 1
while i <= 10:
    sum+=i
    if sum >=20:
        print(i, sum)
        break
    else:
        i+=1

6 21

In [2]:
import random

In [4]:
answer=random.randint(1, 100)

print(f"1부터 100까지의 숫자를 맞춰주세요")

while True:
    a= int(input("입력해주세요:"))
    if answer>a:
        print("답보다 작아요")
    elif answer<a:
        print("답보다 커요")
    else:
        print("정답입니다")
        break

1부터 100까지의 숫자를 맞춰주세요
답보다 커요
답보다 커요
답보다 작아요
답보다 커요
답보다 커요
답보다 커요
정답입니다

## 1번 문제

In [7]:
pay = 12345678

print(f"절사처리 후: {pay//100*100}")

절사처리 후: 12345600

## 2번 문제

In [54]:
a = str(4759380347825)
b = 4
c = a[-b]
print(c)

7

## 3번 문제

In [15]:
a, b= map(int, input().split())

print(f"삼각형의 넓이: {a * b / 2}")

삼각형의 넓이: 9.0

## 4번 문제

In [17]:
n = int(input())
a=0
for i in range(n+1):
    a+=i

print(a)

10

## 5번 문제

In [21]:
num1, num2 = map(int, input().split())

print(num1 * num2)
for i in range(num2):
    print(num1, end = "")

5
11111

## 6번 문제

In [22]:
number = int(input())

if number % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

## 7번 문제

In [25]:
score = int(input())

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

print(score)

B
85

## 8-1번 문제

In [27]:
hero, enemy = map(int, input().split())

if hero*2 >= enemy:
    print("hero kills enemy")
else:
    print("enemy kill hero")

enemy kill hero

## 8-2번 문제

In [31]:
end = int(input())

for i in range(end+1):
    if i % 10 == 3 or i % 10 == 6 or i % 10 == 9:
        print("짝")
    else: 
        print(i)

0
1
2
짝
4
5
짝
7
8
짝
10
11
12
짝
14
15
짝
17
18
짝
20

## 9번 문제

In [32]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f"{i} * {j} = {i*j}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 10번 문제

In [36]:
a, b = map(int, input().split())

for i in range(b):
    print('*' * a)

******
******
******
******

## 11번 문제

In [42]:
string = "역삼역 기러기 우영우 토마토" 

print(string[::-1])

토마토 우영우 기러기 역삼역

## 수업 문제들

In [39]:
for i in range(20):
    if i % 3 == 0 or i % 5 == 0:
        continue
    else:
        print(i, end=' ')

1 2 4 7 8 11 13 14 16 17 19